
// Color palette:

$yellow: #f8fb05;
$green: #065635;
$ice: #e0fddf;
$white: #f5f5f5;
$black: #151514;


// Fonts:

$topFont: 'Kumar One Outline', cursive;
$headerFont: 'Kumar One', cursive;
$baseFont: 'Lato', sans-serif;