
// Imports

@import "setup";
@import "variables";
@import "index";
@import "blog";
@import "contact";
@import "queries";

// General Header Styling

.blog-head,
.contact-head {

    .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            width: 40%;
            display: flex;
            justify-content: space-around;
            list-style: none;
        }

        .logo {
            width: 20%;
        }

        h4 {
            padding: 0 10% 0 0;
        }

        a {
            font-weight: 700;
            line-height: 1.45rem;
            letter-spacing: 1.4px;

            &:hover,
            &:active {
                border-bottom: 5px solid $yellow;                
            }
        }
    }
}

// Skip Link Styling

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}

// Hidden Styling

.menu i {
    display: none;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}