@import "setup";
@import "variables";
@import "index";
@import "blog";
@import "contact";

    // General Header Styling

.blog-head,
.contact-head {

    .menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            width: 40%;
            // flex: 1 0 50%;
            display: flex;
            justify-content: space-around;
            list-style: none;
        }

        .logo {
            width: 20%;
        }

        h4 {
            padding: 0 10% 0 0;
        }

        a {
            font-weight: 700;
            line-height: 1.45rem;
            letter-spacing: 1.4px;

            &:hover,
            &:active {
                border-bottom: 5px solid $yellow;                
            }
        }
    }
}