article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

html body {
  font-family: "Lato", sans-serif;
  line-height: 1.6rem;
}

html body h1,
html body h2,
html body h3,
html body h4,
html body a,
html body button,
html body input,
html body textarea {
  text-transform: uppercase;
}

html body h2,
html body h3,
html body h4,
html body button {
  font-family: "Kumar One", cursive;
}

html body h1 {
  font-family: "Kumar One Outline", cursive;
  font-size: 3.4rem;
  font-weight: normal;
  line-height: 3.2rem;
}

html body h2 {
  font-size: 1.65rem;
  line-height: 2.9rem;
  letter-spacing: 2.1px;
}

html body h3 {
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: 1.2px;
}

html body p {
  letter-spacing: 2px;
}

html body button {
  line-height: 1.6rem;
  letter-spacing: 1px;
  background: #065635;
  padding: 1% 2%;
  border: none;
}

html body button a {
  color: #f5f5f5;
}

html body img {
  max-width: 100%;
}

html body .wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

html body ul {
  list-style: none;
}

html body a {
  text-decoration: none;
  color: #151514;
}

header {
  background: url(../assets/header-home.jpg) top right no-repeat;
  min-height: 100vh;
  position: relative;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-bar .menu {
  width: 40%;
}

.top-bar .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 3% 3.5% 0 0;
}

.top-bar .menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-bar .menu a {
  font-weight: 700;
  line-height: 1.45rem;
  letter-spacing: 1.4px;
}

.top-bar .menu a:hover, .top-bar .menu a:active {
  border-bottom: 5px solid #f8fb05;
}

.title h1 {
  width: 50%;
  padding: 0 0 0.25% 7.65%;
  margin: 2.9% 5% 0 0;
}

.blue-sofa {
  position: absolute;
  top: 300px;
  left: -80px;
}

.new-materia {
  background: #f5f5f5;
  padding: 5% 0 8% 0;
}

.new-materia figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.new-materia figure figcaption {
  width: 65%;
}

.new-materia figure img {
  width: 25%;
  height: 25%;
  margin: 13% 0 0 10%;
  -webkit-box-shadow: -20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05;
}

.new-materia h2 {
  margin: 0;
  padding-top: 19.75%;
}

.gall-decor {
  background: #e0fddf;
}

.gall-decor .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7% 0;
}

.custom-menu {
  background: #f5f5f5;
  padding: 3% 0 8% 0;
}

.mid-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.mid-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.mid-links .mid-icon {
  padding: 5.5% 3% 0 0;
}

.mid-links .mid-icon i {
  border: 8px solid #f8fb05;
  border-radius: 50%;
  font-size: 1.1rem;
  background: #f8fb05;
}

.mid-links h2 {
  margin-bottom: 0;
}

.new-pro {
  background: #e0fddf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
}

.new-pro img {
  position: absolute;
}

.new-pro figcaption {
  padding: 5% 0;
  width: 70%;
}

.new-pro .poly-local img {
  top: -5%;
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
}

.new-pro .poly-local figcaption {
  text-align: right;
  padding: 70% 0 5% 5%;
  margin-left: 23.5%;
}

.new-pro .pro-basket img {
  top: 56%;
  right: 0;
  -webkit-box-shadow: -20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05;
}

.new-pro .pro-basket figcaption {
  padding: 5% 0 70% 9%;
}

.style-decor {
  background: #f5f5f5;
}

.style-decor .style-down {
  padding: 5% 0;
  text-align: center;
}

.style-decor .style-down p {
  text-align: left;
}

footer {
  background: #151514;
  text-align: center;
}

footer p {
  color: #f5f5f5;
  margin: 0;
}
