article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

html body {
  font-family: "Lato", sans-serif;
  line-height: 1.6rem;
}

html body h1,
html body h2,
html body h3,
html body h4,
html body a,
html body button,
html body input,
html body textarea {
  text-transform: uppercase;
}

html body h2,
html body h3,
html body h4,
html body button {
  font-family: "Kumar One", cursive;
}

html body h1 {
  font-family: "Kumar One Outline", cursive;
  font-size: 3.4rem;
  font-weight: normal;
  line-height: 3.2rem;
}

html body h2 {
  font-size: 1.65rem;
  line-height: 2.9rem;
  letter-spacing: 2.1px;
}

html body h3 {
  font-size: 1.1rem;
  line-height: 1.2rem;
  letter-spacing: 1.2px;
}

html body p {
  letter-spacing: 2px;
}

html body button {
  line-height: 1.6rem;
  letter-spacing: 1px;
  background: #065635;
  padding: 1% 2%;
  border: none;
}

html body button a {
  color: #f5f5f5;
}

html body i {
  font-size: 1.2rem;
}

html body img {
  max-width: 100%;
}

html body .wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

html body a {
  text-decoration: none;
  color: #151514;
}

.head-home {
  background: url(../assets/header-home.jpg) top right no-repeat;
  min-height: 100vh;
  position: relative;
}

.top-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.top-bar .menu {
  width: 40%;
}

.top-bar .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.top-bar .menu a {
  font-weight: 700;
  line-height: 1.45rem;
  letter-spacing: 1.4px;
}

.top-bar .menu a:hover, .top-bar .menu a:active {
  border-bottom: 5px solid #f8fb05;
}

.home-title h1 {
  width: 50%;
  padding: 0 0 0.25% 7.65%;
  margin: 2.9% 5% 0 0;
}

.blue-sofa {
  position: absolute;
  top: 40%;
  left: -5.3%;
  max-width: 100%;
}

.new-materia {
  background: #f5f5f5;
  padding: 5% 0 8% 0;
}

.new-materia figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.new-materia figure figcaption {
  width: 65%;
}

.new-materia figure img {
  width: 25%;
  height: 25%;
  margin: 13% 0 0 10%;
  -webkit-box-shadow: -20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05;
}

.new-materia h2 {
  margin: 0;
  padding-top: 19.75%;
}

.gall-decor {
  background: #e0fddf;
}

.gall-decor .gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 7% 0;
}

.custom-menu {
  background: #f5f5f5;
  padding: 3% 0 8% 0;
}

.mid-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.mid-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}

.mid-links .mid-icon {
  padding: 5.5% 3% 0 0;
}

.mid-links .mid-icon i {
  border: 8px solid #f8fb05;
  border-radius: 50%;
  font-size: 1.1rem;
  background: #f8fb05;
}

.mid-links h2 {
  margin-bottom: 0;
}

.new-pro {
  background: #e0fddf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
}

.new-pro img {
  position: absolute;
}

.new-pro figcaption {
  padding: 5% 0;
  width: 70%;
}

.new-pro .poly-local img {
  top: -5%;
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
}

.new-pro .poly-local figcaption {
  text-align: right;
  padding: 70% 0 5% 5%;
  margin-left: 23.5%;
}

.new-pro .pro-basket img {
  top: 56%;
  right: 0;
  -webkit-box-shadow: -20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05;
}

.new-pro .pro-basket figcaption {
  padding: 5% 0 70% 9%;
}

.style-decor {
  background: #f5f5f5;
}

.style-decor .style-down {
  padding: 5% 0;
  text-align: center;
}

.style-decor .style-down p {
  text-align: left;
}

footer {
  background: #151514;
  text-align: center;
}

footer p {
  color: #f5f5f5;
  margin: 0;
}

.blog-head {
  background: url(../assets/blog-image.jpg) top right no-repeat;
  min-height: 75vh;
  position: relative;
}

.main-content {
  background: #e0fddf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.main-content .blog-post {
  background: #f5f5f5;
  width: 60%;
  -webkit-box-shadow: 10px 0 #f8fb05;
          box-shadow: 10px 0 #f8fb05;
  border-bottom: 10px solid #f8fb05;
}

.main-content .blog-post img {
  width: 60%;
  position: absolute;
  top: -160px;
  left: 0;
  -webkit-box-shadow: 10px 20px #f8fb05;
          box-shadow: 10px 20px #f8fb05;
}

.main-content .article-text {
  padding: 55% 5% 0 8%;
}

.main-content .late-post {
  width: 40%;
  padding: 5% 0 0 15.8%;
}

.main-content .late-post .aside-image {
  background: #f8fb05;
  -webkit-box-shadow: -20px 20px #f8fb05;
          box-shadow: -20px 20px #f8fb05;
}

.main-content .late-post h3 {
  margin: 0;
  padding: 1% 0;
}

.main-content .aside-text {
  background: #f8fb05;
  -webkit-box-shadow: -20px 0 #f8fb05;
          box-shadow: -20px 0 #f8fb05;
  padding: 2% 0;
}

.main-content .aside-text .aside-list {
  list-style: outside;
}

.comment-section,
.submission-form {
  background: #e0fddf;
  padding-left: 5%;
}

.comment-section {
  padding-right: 40%;
}

.comment-section h3 {
  margin: 0;
  padding: 5% 0 3% 0;
}

.comment-section p {
  margin: 0;
  padding-left: 5%;
}

.comment-section p.date {
  font-weight: 700;
  text-transform: uppercase;
}

.comment-section .comment-one,
.comment-section .comment-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.comment-section .comment-one {
  padding-top: 5%;
}

.comment-section .comment-two {
  padding: 10% 0 8% 0;
}

.comment-section .comment-pic-one {
  width: 40%;
}

.comment-section .comment-pic-two {
  width: 30%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 60%;
  padding-bottom: 5%;
}

form .short-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form input,
form textarea {
  background: #e0fddf;
  border: none;
}

form input {
  border-bottom: 2px solid #151514;
  width: 45%;
  padding: 0 0 2% 2%;
}

form textarea {
  border: 2px solid #151514;
  margin: 5% 0;
  padding: 2%;
}

form button {
  color: #f5f5f5;
}

.contact-head {
  background: url(../assets/contact-image.jpg) top right no-repeat;
  min-height: 77vh;
  position: relative;
}

.contact-form {
  background: #e0fddf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact-form form {
  background: #f5f5f5;
  padding: 5%;
  position: absolute;
  top: 55%;
  left: 4%;
  -webkit-box-shadow: 20px 20px #f8fb05;
          box-shadow: 20px 20px #f8fb05;
}

.contact-form form input,
.contact-form form textarea {
  background: #f5f5f5;
}

.contact-form .media-reach {
  padding: 5% 8% 10% 3%;
}

.contact-form .media-reach .social-media p {
  padding: 5% 0;
}

.contact-form .media-reach .social-media i {
  padding-right: 10%;
}

.contact-form .media-reach p {
  margin: 0;
}

@media (max-width: 940px) {
  .head-home {
    background-size: contain;
    min-height: 58vh;
    position: relative;
  }
  .top-bar,
  .blog-bar {
    width: 100%;
  }
  .top-bar .menu,
  .blog-bar .menu {
    width: 100%;
  }
  .top-bar .menu ul,
  .blog-bar .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .home-title h1 {
    width: 50%;
    font-size: 3rem;
    padding-left: 12%;
  }
  .blue-sofa {
    max-width: 55%;
    position: absolute;
    top: 30%;
    left: 0;
  }
  .mid-image {
    margin: 0 2%;
  }
  .new-pro {
    position: relative;
  }
  .new-pro .poly-image img,
  .new-pro .pro-image img {
    width: 50%;
    position: absolute;
  }
  .new-pro .pro-image img {
    top: 67%;
  }
  .contact-form form {
    width: 65%;
  }
  .contact-form form input {
    width: 35%;
  }
  .contact-form form textarea {
    width: 100%;
  }
  .contact-form .media-reach {
    padding: 5% 1% 10% 0;
  }
}

@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
  .head-home {
    min-height: 47.3vh;
    position: relative;
  }
  .home-title h1 {
    font-size: 2.1rem;
  }
  .new-materia figure {
    padding-top: 10%;
  }
  .new-materia figure h2 {
    font-size: 1.25rem;
  }
  .custom-menu ul {
    padding-left: 0;
  }
  .custom-menu ul h2 {
    font-size: 1.25rem;
  }
  .new-pro {
    position: relative;
  }
  .new-pro h2 {
    font-size: 1.25rem;
  }
  .new-pro .pro-image img {
    position: absolute;
    top: 73%;
  }
  .comment-section {
    padding-right: 0;
  }
  .comment-section .comment-pic-one {
    width: 150%;
  }
  .comment-section .comment-pic-two {
    width: 110%;
  }
  .comment-section p {
    padding-left: 0;
  }
  .contact-form form {
    position: absolute;
    top: 60%;
    left: 15%;
  }
  .contact-form form input {
    width: 45%;
  }
  .contact-form .media-reach {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 45% 30% 5% 0;
  }
}

@media (max-width: 480px) {
  .head-home {
    min-height: 100vh;
    background-size: cover;
  }
  .home-title h1 {
    font-size: 2.5rem;
  }
  .blue-sofa {
    max-width: 90%;
    position: absolute;
    top: 85%;
  }
  .new-materia figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-flow: column-reverse nowrap;
            flex-flow: column-reverse nowrap;
  }
  .new-materia figure img {
    width: 85%;
    margin-top: 30%;
  }
  .new-materia figure figcaption {
    width: 100%;
  }
  .new-materia figure figcaption button {
    margin: 3% 0 0 20%;
  }
  .new-materia figure h2 {
    text-align: center;
  }
  .gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .gallery .mid-image {
    margin: 10% 0;
  }
  .mid-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .new-pro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .new-pro .poly-local figcaption {
    padding: 25% 0 5% 5%;
    margin-left: 0;
    width: 100%;
  }
  .new-pro .pro-basket figcaption {
    padding: 5% 0 25% 5%;
    width: 100%;
  }
  .new-pro .pro-basket img {
    -webkit-box-shadow: -10px 10px #f8fb05;
            box-shadow: -10px 10px #f8fb05;
  }
  .new-pro .poly-local img {
    -webkit-box-shadow: 10px 10px #f8fb05;
            box-shadow: 10px 10px #f8fb05;
  }
  .new-pro .pro-image img {
    top: 87%;
  }
  .blog-head .blog-bar .menu ul,
  .blog-head .contact-bar .menu ul,
  .contact-head .blog-bar .menu ul,
  .contact-head .contact-bar .menu ul {
    display: none;
  }
  .blog-head .blog-bar .menu i,
  .blog-head .contact-bar .menu i,
  .contact-head .blog-bar .menu i,
  .contact-head .contact-bar .menu i {
    display: inline;
  }
  .main-content .late-post {
    padding: 5% 0 0 5%;
  }
  .comment-section p {
    padding-left: 10%;
  }
  form {
    width: 50%;
  }
  .contact-form form {
    width: 90%;
    left: 3%;
  }
  .contact-form .media-reach {
    padding: 65% 20% 5% 0;
  }
}

@media (max-width: 320px) {
  .top-bar {
    width: 100%;
  }
  .top-bar .menu {
    width: 100%;
  }
  .top-bar .menu ul {
    display: none;
  }
  .top-bar .menu i {
    display: inline;
  }
  .home-title h1 {
    font-size: 1.85rem;
    padding: 10% 0 0 0;
  }
  .blue-sofa {
    min-width: 100%;
  }
  .new-materia figure img {
    width: 90%;
    margin: 40% 0 0 5%;
    -webkit-box-shadow: -10px 10px #f8fb05;
            box-shadow: -10px 10px #f8fb05;
  }
  .new-materia figure figcaption button {
    margin: 3% 0 3% 10%;
  }
  .new-materia figure h2 {
    text-align: center;
  }
  .new-pro .poly-local img {
    width: 80%;
  }
  .new-pro .poly-local figcaption {
    padding: 40% 0 5% 5%;
    text-align: left;
  }
  .new-pro .pro-basket img {
    width: 80%;
  }
  .new-pro .pro-basket figcaption {
    padding: 0 0 70% 0;
  }
  .new-pro .pro-image img {
    top: 87%;
  }
  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }
  .main-content .blog-post {
    width: 100%;
  }
  .main-content .blog-post img {
    width: 95%;
  }
  .main-content .late-post {
    width: 100%;
  }
  .main-content .article-text {
    padding: 30% 5% 0 8%;
  }
  form .short-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 10% 0;
  }
  form .short-input .mail {
    margin-top: 3%;
  }
  form textarea {
    padding-top: 5%;
    width: 190%;
  }
  form input {
    width: 100%;
  }
  .contact-form form {
    width: 95%;
    left: 2%;
    -webkit-box-shadow: 10px 10px #f8fb05;
            box-shadow: 10px 10px #f8fb05;
  }
  .contact-form form input {
    width: 100%;
  }
  .contact-form .media-reach {
    padding: 115% 0 10% 20%;
  }
}

.blog-head .menu,
.contact-head .menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-head .menu ul,
.contact-head .menu ul {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.blog-head .menu .logo,
.contact-head .menu .logo {
  width: 20%;
}

.blog-head .menu h4,
.contact-head .menu h4 {
  padding: 0 10% 0 0;
}

.blog-head .menu a,
.contact-head .menu a {
  font-weight: 700;
  line-height: 1.45rem;
  letter-spacing: 1.4px;
}

.blog-head .menu a:hover, .blog-head .menu a:active,
.contact-head .menu a:hover,
.contact-head .menu a:active {
  border-bottom: 5px solid #f8fb05;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

.menu i {
  display: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
